* {
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
}

#ui-container {
    display: flex;
    justify-content: space-between;
    margin: 74px auto 0 auto;
    width: 70%;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px auto 16px auto;
    background-color: white;
    border: 1px solid #c8c8c8;
    /* padding: 15px; */
    /* border-radius: 5px; */
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
    border: .5px solid #c8c8c8;
}

.active {
    opacity: .1;
}

